<md-toolbar>
  <span>Prog Voter</span>

  <span class="example-fill-remaining-space"></span>

  <i class="fa fa-cog"></i>

</md-toolbar>

<md-tab-group>
  <md-tab label="Vote">

    <md-spinner *ngIf="!candidates"></md-spinner>


<md-list *ngIf="candidates">
  <md-list-item *ngFor="let candidate of candidates">
    <img md-list-avatar [src]="candidate.avatar" [alt]="candidate.name">
    <h3 md-line> {{candidate.name}} </h3>
    <p md-line>
      <span> {{candidate.description}} </span>
    </p>
  </md-list-item>
</md-list>



  </md-tab>
  <md-tab label="Results">
    <md-spinner *ngIf="!candidates"></md-spinner>

    <div *ngIf="candidates">
      <canvas baseChart chartType="doughnut" [data]="donutData" [labels]="donutLabels">

      </canvas>
    </div>
  </md-tab>
</md-tab-group>
